binary "https://gist.githubusercontent.com/Fedos/18d9471b6948e4d9921fef81182d0be0/raw/CoreParse.json"
binary "https://gist.githubusercontent.com/Fedos/1cdd27212a21ac6f286d81fb8abacdc7/raw/PixateFreestyle.json"
binary "https://gist.githubusercontent.com/Fedos/a0c49e4dd2e169c6a8a0c2677bb0eccd/raw/SocketRocket.json"